.contactFormContainer{
  position: relative;
  height: 40rem;
  background-color: blanchedalmond;
  padding: 5rem;
  
}

.contactFormWrapper {
  position: absolute;
  top: -2rem;
  max-width: 960px;
  width: 100%;
  background-color: var(--background-color);
  border: 1px solid var(--font-color);
  border-radius: 0.25rem;
  box-shadow: 2px 2px 10px var(--background-accent);
  margin-inline: auto;
  padding: 3rem 1rem;
}

.contactFormWrapper > form {
  max-width: 768px;
  margin-inline: auto;
}